body {
  margin: 0;
  display: flex;
  justify-content:space_between;


}

h1{
font-size:3rem;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  font-size:3rem;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}