{% macro heading_row(headers) %}
    <thead>
      <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
      </tr>
    </thead>
{% endmacro %}

{% macro download_button(link) %}
   <form>
       <button value="{{ link }}">Download</button>
   </form>
{% endmacro %}

{% macro data_row(data) %}
    <tbody>
      {% for row in data %}
        <tr>
          {% for cell in row.values() %}
                {%  if cell.startswith('magnet') %}
                    {{ download_button(cell) }}
                {% else %}
                    <td>{{ cell }}</td>
                {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
{% endmacro %}

{% macro data_table(headers, data) %}
    <table id="base_table" class="table table-striped">
        {{ heading_row(headers) }}
        {% if data != None %}
            {{ data_row(data) }}
        {% endif %}
    </table>
{% endmacro %}
