{% macro heading_row(headers) %}
    <thead>
      <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
      </tr>
    </thead>
{% endmacro %}

{% macro data_row(data) %}
    <tbody>
      {% for row in data %}
        <tr>
          {% for cell in row.values() %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
{% endmacro %}

{% macro data_table(headers, data) %}
    <table>
        {{ heading_row(headers) }}
        {% if data is defined %}
            {{ data_row(data) }}
        {% endif %}
    </table>
{% endmacro %}
