{% extends "base.html" %}
{% from "macros.html" import data_table %}




{% block content %}
    <h1>Torrent Client</h1>
    <!-- The form -->
    <br>
    <form class="torrents_details_form" action="{{ url_for('torrents_view_bp.get_details') }}" method="GET">
      <input type="text" placeholder="Enter a keyword to filter torrents.." name="filter_keyword">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
    {{ data_table(headers, data, bp, button_names_to_methods_map) }}
{% endblock %}